<h1 class="test-react-particles">ComponentsController#index</h1>
<p> if h1 is sky blue, CSS assets have installed properly</p>
<p> find me in app/views/<%="#{namespace}"%>/components/index.html.erb </p>

<p> if there is a clock below displaying the current time JS assets have been installed properly</p>

<div id="clock"></div>
