<div class="card">
  <div class="p-4">
    <h2 class="mb-3 text-center">
      Stimulus Sortable List Example
    </h2>

    <ul data-controller="position">
      <li class="card mb-3" style="cursor: pointer;">
        <div class="p-3">
          <h4>
            Item A
          </h4>
        </div>
      </li>

      <li class="card mb-3" style="cursor: pointer;">
        <div class="p-3">
          <h4>
            Item B
          </h4>
        </div>
      </li>

      <li class="card mb-3" style="cursor: pointer;">
        <div class="p-3">
          <h4>
            Item C
          </h4>
        </div>
      </li>

      <li class="card mb-3" style="cursor: pointer;">
        <div class="p-3">
          <h4>
            Item D
          </h4>
        </div>
      </li>
    </ul>
  </div>
</div>
